{
  "presets": ["env"],
  "plugins": [
      "transform-object-rest-spread",
      "transform-decorators-legacy",
      "add-module-exports"
  ],
  "env": {
      "development": {
          "sourceMaps": "inline"
      }
  }
}
